<!DOCTYPE html>
<html>
<head>
        <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>heyy</h1>
    <div class="continar">  
        <form id="DigiForm" class="DigiDetails">
             <img id="photo" src="">
             <h3 id="name"></h3>
             <h3 id="rank"></h3>
             <h3 id="level"></h3>
             <div class="stats">
             <h4 id="hp"></h4>
             <h4 id="attack"></h4>
             <h4 id="defence"></h4>
             </div>
        </form>
    <button id="Digimon">digi</button>
        <select name="levels" id="Digimonlevels">
            <option value="" disabled selected>Select digimon rank</option>
            <option value="Baby I">Baby</option>
            <option value="Baby II">In-traning</option>
            <option value="Child">Rookie</option>
            <option value="Adult">Champion</option>
            <option value="Perfect">Ultimate</option>
            <option value="Ultimate">Mega</option>
            <option value="Armor">Armor</option>
            <option value="Hybrid">Hybrid</option>
        </select>



    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/script.js"></script>
</html>







