<form id="loginForm" method="POST" action="https://poke-nexus.com/forums/index.php?action=login2" novalidate="novalidate" accept-charset="ISO-8859-1">
                              <div class="form-group">
                                  <label for="user" class="control-label">Username</label>
                                  <input type="text" class="form-control" id="user" name="user" value="" required="" title="Please enter you username" placeholder="">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="passwrd" class="control-label">Password</label>
                                  <input type="password" class="form-control" id="passwrd" name="passwrd" value="" required="" title="Please enter your password">
                                  <span class="help-block"></span>
								  <input type="hidden" name="cookielength" value="-1">
								  <input type="hidden" name="fb2776ba" value="16f3b9302d6d779638834c66af20eac1">
											<input type="hidden" name="c5e0f7d3936" value="694bc7f0c22238dd6c9e1f20bd3996a0">                              </div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                              <button type="submit" value="Login" class="btn btn-success btn-block loginbutton">Login</button>
                              <a href="https://poke-nexus.com/forums/index.php?action=reminder" class="btn btn-default btn-block">Forgot your password?</a>
                          </form>