.container{
    position: absolute;
    top: 10%;
    left: 15%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.DigiDetails{
        display: none;
        position: fixed;
        top: 15%;
        left: 50%;
        margin-top: 18%;
        transform: translate(-50%, -50%);
        border: 1px solid #ccc;
        background-color: white;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        z-index: 9999;
        min-width: 300px;
                vertical-align: baseline;
}
.horizontal{
      width:100%;
  display: flex;
  justify-content: center;
  gap: 50px;

}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  font-size: 15px;
}

th {
   background-color: #4CAF50;
  color: white;
}
th .th-text {
  display: inline-block;
  margin-left: 20px;
}
th .th-textSpec {
  display: inline-block;
  margin-right: 50px;
}
table th {
  text-align: left;
  padding-left: 25px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
td:nth-child(2), th:nth-child(2) {
  white-space: nowrap;
}

td img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#addDigimon,
#DigiList,
#userTable {
  display: none;
}

/* LoginPage */

.login-container {
  width: 260px;
  padding: 20px;
  margin: 50px auto;
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: #888;
}

.login-form input {
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  margin: 20px 0 10px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to bottom, #fbdc70 0%, #f8b500 100%);
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 0 #d49900;
}

.login-button:hover {
  background: linear-gradient(to bottom, #ffe08a 0%, #ffbd2b 100%);
}

.forgot-password {
  text-align: center;
  color: #333;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}
 .forgot-password:hover {
  text-decoration: underline;
}



