<div class="battle-wrapper">
  <div class="battle-container">
    <div class="display-screen">  
      <div class="opponent-health-bar">
        <div class="opponent-progress-bar">
        <div class="opponent-percentage">
        </div>
        </div>
        <h5 id="opponent-battleName"></h5>
      </div>   
      <img id="opponent-battlePhoto" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="Digimon" class="opponent-digimon-img" title=""
        data-hp=""  data-maxhp="" 
        data-at=""  data-de="" >
      <h5 id="your-battleName" class="your-battleName"></h5>
        <div class="your-health-bar">
        <div class="your-progress-bar">
        <div class="your-percentage">
        </div>
        </div>
        </div>
         <img id="your-battlePhoto" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="Digimon" class="your-digimon-img" title=""
         data-hp=""   data-maxhp=""
          data-at=""  data-de=""
          data-id="">
    </div>
    

    <div class="battle-screen">
      <div class="text-box">
        <p class="battle-message">What will your Digimon do?</p>
      </div>

      <div class="options-box">
        <button class="battle-btn">FIGHT</button>
        <button class="run-btn">RUN</button>
      </div>
    </div>
  </div>
</div>
