
<div class="battle-wrapper">
  <div class="battle-container">
    <div class="display-screen">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Digimon" class="digimon-img">
      <h3>Pikachu Lv. 10</h3>
    </div>

    <div class="battle-screen">
      <div class="text-box">
        <p>What will your Digimon do?</p>
      </div>

      <div class="options-box">
        <button class="battle-btn">FIGHT</button>
        <button class="battle-btn">BAG</button>
        <button class="battle-btn">POKEMON</button>
        <button class="battle-btn">RUN</button>
      </div>
    </div>
  </div>
</div>
