<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div class="forgot-container">
    <span id="errorreset"></span>
    <h4 id="resetPass" style="margin-left: 4%;">Reset Password</h4>
      <label for="email">Email</label>
      <input type="email" id="R-email" name="email" required>

      <button class="reset-btn" type="submit">Reset Password</button>
    <a class="back-link" >Back to Login</a>
  </div>
</body>
</html>
