<div class="login-container">
  <form class="login-form">
    <label for="username">Username</label>
    <input type="text" id="username" placeholder="">

    <label for="password">Password</label>
    <input type="password" id="password" placeholder="">

    <button type="submit" class="login-btn">Login</button>

    <a href="#" class="forgot-password">Forgot your password?</a>
  </form>
</div>
