<div class="login-container">
  <span id="errorlogin"></span>
  <form class="login-form">
    <label for="username">Username</label>
    <input type="text" id="username" placeholder="">

    <label for="password">Password</label>
    <input type="password" id="password" placeholder="">

    <button type="submit" class="login-btn">Login</button>
    <button type="submit" class="register-btn">Register</button>


    <div>
    <label>remamber you?  </label>
    <input type="checkbox" id="remamber" />
    </div>
    <a class="forgot-password">Forgot your password?</a>
  </form>
</div>