<div class="reset-container">
  <span id="errorpass"></span>
  <form class="reset-form">
    <label for="newPassword">newPassword</label>
    <input type="password" id="NewPassword" placeholder="">

     <label for="confirmPassword">confirm_Password</label>
    <input type="password" id="confirmPassword" placeholder="">

    <button type="submit" class="Creset-btn">ResetPassword</button>
  </form>
</div>